{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "modules": true
  },
  "rules": {
    "global-strict": [2, "always"],
    "max-len": [1, 100, 2],
    "max-statements": [1, 30],
    "max-nested-callbacks": [1, 5],
    "no-process-exit": 0,
    "quotes": [1, "single", "avoid-escape"]
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  }
}
