.ui.fixed.inverted.blue.main.menu
  .container
    .title.item Doplr Radar
    a.item
      i.find.icon
      span Sweep
    a.item
      i.rain.icon
      span Forecast
      .ui.green.label 95%
    a.item
      i.cubes.icon
      span Hosts
      .ui.label 30
    a.item
      i.announcement.icon
      span Events
      .ui.label 3604
    a.right.item
      i.options.icon
      span Settings
