doctype html
html(lang='en')
  head
    title WeatherGirl
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/vendor.css")
    link(rel="stylesheet", href="/bundle.css")
  body.pushable
    include partials/mainmenu/mainmenu.jade
    .pusher
      .drawable.area
        svg(width="100%", height="100%")
      .left.side.container
        .ui.vertical.side.menu
          a.blue.item
            .ui.transparent.icon.input
              input(type="text", placeholder="Search hosts")
              i.search.icon
          a.item 1 host
            .ui.orange.label 60%
          a.item 2 host
            .ui.green.label 100%
          a.item red host
            .ui.red.label 40%
          a.item blue host
            .ui.label N/A

    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js", charset="utf-8")
    script(async, src="/bundle.js", type="text/javascript", charset="utf-8")
    
