doctype html
html(lang='en')
  head
    title WeatherGirl
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/vendor.css")
    link(rel="stylesheet", href="/bundle.css")
  body.pushable
    .ui.fixed.inverted.blue.main.menu
      #mainmenu
    .pusher
      .drawable.area
        svg(width="100%", height="100%")
      .left.side.container
        #hostSearchPane

    script(async, src="/bundle.js", type="text/javascript", charset="utf-8")
    
