doctype html
html(lang='en')
  head
    title WeatherGirl
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/bundle.css")
  body
    #container some react stuff

    script(async, src="/bundle.js", type="text/javascript")
